<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.beviswang.customcontrols">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoTitle"
        tools:ignore="GoogleAppIndexingWarning">

        <!-- 飞行的火箭 -->
        <activity android:name=".activity.RocketFlyActivity" />

        <!-- 仿红板报动画 -->
        <activity android:name=".activity.FlipBoardActivity" />

        <!-- 原创可控饼状图 -->
        <activity android:name=".activity.PieChartActivity" />

        <!-- 仿小米运动 -->
        <activity android:name=".activity.MiSportsViewActivity" />

        <!-- 仿虾米音乐导航 -->
        <activity android:name=".activity.XiamiMusicTabActivity" />

        <!-- 主页面 -->
        <activity
            android:name=".activity.MainActivity"
            android:theme="@style/AppTheme.NoTitle"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>